extends layout

block content
	div.container.text-center
		div.centered-pills
			ul.nav.nav-pills
				li
					a(ng-href='#/') Home
				li
					a(ng-href='#/library') Library
				li
					a(ng-href='#/about') About
				li
					a(ng-href='#/contacts') Contact
		div(ng-view="")
		div.footer
			p
				span.glyphicon.glyphicon-heart
					| &nbsp;Built with Express Angular