doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/style.css')
	body(ng-app="MyApp")
		block content
		script(src="/vendor/angular/angular.min.js")
		script(src="/vendor/angular-route/angular-route.min.js")
		script(src="/scripts/app.js")