doctype html
html
	head
		title Stones Application
		// bower_components CSS here
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		// custom CSS here
		link(rel='stylesheet', href='/styles/style.css')

	body(ng-app="myApp")
		div.container-fluid.text-center
			nav.text-center
				ul.nav.nav-pills
					li
						a(ng-href="#/home", href="#") Home
					li
						a(ng-href="#/about", href="#") About
			div(ng-view="")
		// bower_components JS here
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/angular/angular.min.js")
		script(src="bower_components/angular-route/angular-route.min.js")
		// angular app here
		script(src="/scripts/app.js")
		script(src="/scripts/controllers/homeController.js")
		script(src="/scripts/controllers/aboutController.js")